body{
    background-color: #23006A;
}

#wrapper{
    position: relative;
    width: 200px;
    margin: auto;
    text-align: center;
}

h1, h2 {
    color: white;
}



canvas {
    border: thick solid black;
    width: 400px;
    height: 300px;
    position: relative;
    margin: auto;
}

.Ball {
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    height: 50px;
    width: 50px;
}